/* The side navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  
.contcalend{
  width:300px;
  border:1px solid #c0c0c0; 
  margin-top: 10px;
  padding:6px;
}


  #calendar {
    width: 100%;
    font: monospace;
    line-height: 1.8em;
    font-size: 20px;
    text-align: center;

    
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: rgb(44, 86, 122);
  }
  #calendar tbody td:nth-child(n+6), #calendar .holiday {
    color: rgb(231, 140, 92);
  }
  #calendar tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
  }
   
  #calendar td.days:hover {
    background-color: #ffc400;
  }

  #calendar td.active {
    background-color: #4CAF50;
  }


  
  .container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=datetime-local] {
  width: 180px;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.b-little{
background-color: #6916b8;
color: #ffc400;
}

.listrem{
  list-style-type:none;
}



.listapp{
  list-style-type:none;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; 
}
.hide + label ~ div{
  display: none;
  
}
/* оформляем текст label */
.hide + label {
  border-bottom: 1px dotted green;
  padding: 0;
  color: green;
  cursor: pointer;
  display: inline-block; 
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  color: red;
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block; 
  background: #efefef;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  padding: 10px; 
}

p{
  font-size: 1rem;
}






  